*{

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header{

    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bg.jpg);
    position: relative;
    background-position: center;
    background-size: cover;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 70px;

}

.nav-links{
    flex :1;
    text-align: right;
}

.nav-links ul li{

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{

    color: #fff;
    text-decoration: none;
    font-size: 18px;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f44336 ;
    display: block;
    margin: auto;
    transition: 0.7s;
}

.nav-links ul li:hover::after{

    width: 100%;
}

.text-box{

    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.text-box h1{
    font-size: 65px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width:700px)
{
    .text-box h1{
        font-size: 20px;

    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #13100c;
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }

    
    nav .fa{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 52px;
        cursor: pointer;
        transition: 1s;
    }

    .nav-links ul{
        padding: 30px;
    }
}



/* Courses */

.courses{

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: #fff;
}

.courses h1{

    font-size: 40px;
    font-weight: 600;
}

.courses p{

    color: rgb(225, 99, 10);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{

    flex-basis: 31%;
    background: #efddb6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}

.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{

    box-shadow: 0px 0px 20px 0px rgba(4,9,30,0.7);
}

@media(max-width:700px){

    .row{
        flex-direction: column;
    }
}


/* CAMPUS */


.campus{

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    height: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px; 
    left:0;
}

.layer:hover{

    background: rgba(33, 31, 31, 0.7);
}

.layer h3{

    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
     bottom: 49%;
     opacity: 1;
}


/* facilities */

.facilities{

    width: 80%;
    margin: auto;
    text-align: center;
    

}

.facilities-col{

    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
   width: 100%;
   border-radius: 10px; 
}

.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/* testimonial */

.testimonial{
    width: 80%;
    margin: auto;
    text-align: center;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-top: 5%;
    text-align: left;
    background-color: #ffc55a;
    padding: 25px;
    cursor: pointer;
    display: flex;
    margin-bottom: 5%;
}

.testimonial-col img{
    height: 150px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 20px;
    
}

.testimonial-col p{
    padding:0;
}

.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}

@media(max-width:700px){


    .testimonial-col{
        flex-direction: column;
    }

    .testimonial-col img{

        height: 50%;
        margin-bottom: 20px;
    }

    .testimonial-col h3{
        text-align: center;
    }
}


.cta{

    margin: 100px auto;
    width: 90%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding:100px 0;
}

.cta h1{

    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 16px;
    }

    .cta{
        width: 100%;
    }
}

.footer{

    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-top: 20px;
    margin-bottom: 25px;

}